@model Blog.Models.Post

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Editar Post</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group col">
                    <div class="col-2">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Content"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" id="files" asp-for="Image" />
                    </div>
                    <div class="col-4">
                        <label asp-for="CreationDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CreationDate" class="form-control" />
                        <span asp-validation-for="CreationDate" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Category"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CategoryId" class="form-control" />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Editar" />"
                        </div>
                        <div class="col">
                            <a class="btn btn-danger w-75" asp-action="Index">Vover a Posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


